.container {
  font-family: Comic Sans MS, Monotype Corsiva, sans-serif;
  padding-top: 20px;
  background-color: #dac7c7;
  vertical-align: bottom;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}
