.detail {
  height: 100vh;
  width: 100%;
  background-image: url("../../images/petit-practice4-2.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-size: cover;
  margin: 0 auto;
  position: relative;
}

.button {
  position: absolute;
  top: 85%;
  left: 65%;
}
