body {
  width: 100%;
  // height: 60vh;
  background-color: #dac7c7;
}
button {
  // width: 160px;
  // height: 50px;
  // font-size: x-large;

  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 30px;
}
.decideTitle {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
}

.decideHome {
  margin-top: 30px;
  display: block;
  text-align: center;
  font-size: large;
}

.link {
  padding-left: 40px;
}
